<script>
	import Header from '$lib/header/Header.svelte';
	import '../app.css';
</script>

<Header />

<main>
	<slot />
</main>

<footer>
	<p>Datos extraídos del portal <a href="https://datosabiertos.gob.ec">datosabiertos.gob.ec</a>.</p>
	<p>La información corresponde al año 2021.</p>
</footer>

<style>
	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		width: 99%;
		max-width: 1920px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}

	footer a {
		font-weight: bold;
	}

	footer p {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	@media (min-width: 480px) {
		footer {
			padding: 20px 0;
		}
	}
</style>
