<script context="module">
	import { browser, dev } from '$app/env';

	// we don't need any JS on this page, though we'll load
	// it in dev so that we get hot module replacement...
	export const hydrate = dev;

	// ...but if the client-side router is already loaded
	// (i.e. we came here from elsewhere in the app), use it
	export const router = browser;
</script>

<svelte:head>
	<title>Desaparecidos</title>
</svelte:head>

<main>
<iframe class="content" src="https://kakalavaca.kb.us-central1.gcp.cloud.es.io:9243/app/dashboards?auth_provider_hint=anonymous1#/view/a26fe250-a8d3-11ec-84a8-59b77e8cce4e?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:'2021-01-01T05:00:00.000Z',to:'2022-01-01T04:30:00.000Z'))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,syncColors:!f,useMargins:!t),panels:!((embeddableConfig:(enhancements:(),hidePanelTitles:!f,savedVis:(data:(aggs:!(),searchSource:(filter:!(),query:(language:kuery,query:''))),description:'',id:'',params:(controls:!((fieldName:Provincia,id:'1647914869264',indexPattern:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',label:Provincia,options:(dynamicOptions:!t,multiselect:!t,order:desc,size:5,type:terms),parent:'',type:list),(fieldName:'Edad%20Aprox_',id:'1647914899199',indexPattern:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',label:Edad,options:(dynamicOptions:!t,multiselect:!t,order:desc,size:5,type:terms),parent:'',type:list),(fieldName:'Motivo%20Desaparcion%20Obs_',id:'1647914972178',indexPattern:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',label:Motivo,options:(dynamicOptions:!t,multiselect:!t,order:desc,size:5,type:terms),parent:'',type:list),(fieldName:'Situacion%20Actual',id:'1647915051067',indexPattern:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',label:Situaci%C3%B3n,options:(dynamicOptions:!t,multiselect:!t,order:desc,size:5,type:terms),parent:'',type:list)),pinFilters:!f,updateFiltersOnChange:!f,useTimeFilter:!f),title:'',type:input_control_vis,uiState:())),gridData:(h:6,i:'4bcf72c5-103e-4e8e-8f1b-8d174237286e',w:48,x:0,y:0),panelIndex:'4bcf72c5-103e-4e8e-8f1b-8d174237286e',title:Filtro,type:visualization,version:'8.1.0'),(embeddableConfig:(attributes:(references:!((id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-layer-171da4ab-58eb-4b63-be64-ee4a766dac87,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:('171da4ab-58eb-4b63-be64-ee4a766dac87':(columnOrder:!('5dc7807a-55da-4eae-a589-788f9d3d2e40'),columns:('5dc7807a-55da-4eae-a589-788f9d3d2e40':(customLabel:!t,dataType:number,isBucketed:!f,label:Desaparecidos,operationType:count,scale:ratio,sourceField:___records___)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(accessor:'5dc7807a-55da-4eae-a589-788f9d3d2e40',colorMode:None,layerId:'171da4ab-58eb-4b63-be64-ee4a766dac87',layerType:data)),title:'',type:lens,visualizationType:lnsMetric),enhancements:(),hidePanelTitles:!f),gridData:(h:10,i:'90b47cec-38c1-4696-bdb9-019542ff60da',w:10,x:0,y:6),panelIndex:'90b47cec-38c1-4696-bdb9-019542ff60da',title:Total,type:lens,version:'8.1.0'),(embeddableConfig:(attributes:(description:'',layerListJSON:'%5B%7B%22sourceDescriptor%22:%7B%22type%22:%22EMS_TMS%22,%22isAutoSelect%22:true,%22lightModeDefault%22:%22road_map_desaturated%22%7D,%22id%22:%2205dc8215-6f54-4d86-8728-b0b27b3d3e9b%22,%22label%22:null,%22minZoom%22:0,%22maxZoom%22:24,%22alpha%22:1,%22visible%22:true,%22style%22:%7B%22type%22:%22TILE%22%7D,%22includeInFitToBounds%22:true,%22type%22:%22EMS_VECTOR_TILE%22%7D,%7B%22sourceDescriptor%22:%7B%22type%22:%22EMS_FILE%22,%22id%22:%22ecuador_province%22,%22tooltipProperties%22:%5B%5D%7D,%22id%22:%22dd38be2e-9189-4820-82d2-914cd224a89a%22,%22label%22:%22Ecuador%22,%22minZoom%22:0,%22maxZoom%22:24,%22alpha%22:0.75,%22visible%22:true,%22style%22:%7B%22type%22:%22VECTOR%22,%22properties%22:%7B%22icon%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22value%22:%22marker%22%7D%7D,%22fillColor%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22color%22:%22%237fa097%22%7D%7D,%22lineColor%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22color%22:%22%2341937c%22%7D%7D,%22lineWidth%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22size%22:1%7D%7D,%22iconSize%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22size%22:6%7D%7D,%22iconOrientation%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22orientation%22:0%7D%7D,%22labelText%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22value%22:%22%22%7D%7D,%22labelColor%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22color%22:%22%23000000%22%7D%7D,%22labelSize%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22size%22:14%7D%7D,%22labelBorderColor%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22color%22:%22%23FFFFFF%22%7D%7D,%22symbolizeAs%22:%7B%22options%22:%7B%22value%22:%22circle%22%7D%7D,%22labelBorderSize%22:%7B%22options%22:%7B%22size%22:%22SMALL%22%7D%7D%7D,%22isTimeAware%22:true%7D,%22includeInFitToBounds%22:true,%22type%22:%22GEOJSON_VECTOR%22,%22joins%22:%5B%5D%7D,%7B%22sourceDescriptor%22:%7B%22geoField%22:%22location%22,%22requestType%22:%22point%22,%22resolution%22:%22FINE%22,%22id%22:%2228d9ff8d-140e-488a-b001-42dceb3ed496%22,%22type%22:%22ES_GEO_GRID%22,%22applyGlobalQuery%22:true,%22applyGlobalTime%22:true,%22applyForceRefresh%22:true,%22metrics%22:%5B%7B%22type%22:%22count%22%7D%5D,%22indexPatternId%22:%2252a36cc0-a981-11ec-84a8-59b77e8cce4e%22%7D,%22style%22:%7B%22type%22:%22VECTOR%22,%22properties%22:%7B%22icon%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22value%22:%22marker%22%7D%7D,%22fillColor%22:%7B%22type%22:%22DYNAMIC%22,%22options%22:%7B%22color%22:%22Blues%22,%22colorCategory%22:%22palette_0%22,%22field%22:%7B%22name%22:%22doc_count%22,%22origin%22:%22source%22%7D,%22fieldMetaOptions%22:%7B%22isEnabled%22:true,%22sigma%22:3%7D,%22type%22:%22ORDINAL%22%7D%7D,%22lineColor%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22color%22:%22%23FFF%22%7D%7D,%22lineWidth%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22size%22:0%7D%7D,%22iconSize%22:%7B%22type%22:%22DYNAMIC%22,%22options%22:%7B%22minSize%22:7,%22maxSize%22:24,%22field%22:%7B%22name%22:%22doc_count%22,%22origin%22:%22source%22%7D,%22fieldMetaOptions%22:%7B%22isEnabled%22:true,%22sigma%22:3%7D%7D%7D,%22iconOrientation%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22orientation%22:0%7D%7D,%22labelText%22:%7B%22type%22:%22DYNAMIC%22,%22options%22:%7B%22field%22:%7B%22name%22:%22doc_count%22,%22origin%22:%22source%22%7D%7D%7D,%22labelColor%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22color%22:%22%23000000%22%7D%7D,%22labelSize%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22size%22:14%7D%7D,%22labelBorderColor%22:%7B%22type%22:%22STATIC%22,%22options%22:%7B%22color%22:%22%23FFFFFF%22%7D%7D,%22symbolizeAs%22:%7B%22options%22:%7B%22value%22:%22circle%22%7D%7D,%22labelBorderSize%22:%7B%22options%22:%7B%22size%22:%22SMALL%22%7D%7D%7D,%22isTimeAware%22:true%7D,%22id%22:%224ae8fdd1-45e0-4aa4-94d9-f3c75f086613%22,%22label%22:null,%22minZoom%22:0,%22maxZoom%22:24,%22alpha%22:0.75,%22visible%22:true,%22includeInFitToBounds%22:true,%22type%22:%22GEOJSON_VECTOR%22,%22joins%22:%5B%5D%7D%5D',mapStateJSON:'%7B%22zoom%22:5.87,%22center%22:%7B%22lon%22:-79.9679,%22lat%22:-1.97768%7D,%22timeFilters%22:%7B%22from%22:%222021-01-01T05:00:00.000Z%22,%22to%22:%222022-01-01T04:30:00.000Z%22%7D,%22refreshConfig%22:%7B%22isPaused%22:false,%22interval%22:900000%7D,%22query%22:%7B%22query%22:%22%22,%22language%22:%22kuery%22%7D,%22filters%22:%5B%5D,%22settings%22:%7B%22autoFitToDataBounds%22:false,%22backgroundColor%22:%22%23ffffff%22,%22disableInteractive%22:false,%22disableTooltipControl%22:false,%22hideToolbarOverlay%22:false,%22hideLayerControl%22:false,%22hideViewControl%22:false,%22initialLocation%22:%22LAST_SAVED_LOCATION%22,%22fixedLocation%22:%7B%22lat%22:0,%22lon%22:0,%22zoom%22:2%7D,%22browserLocation%22:%7B%22zoom%22:2%7D,%22maxZoom%22:24,%22minZoom%22:0,%22showScaleControl%22:false,%22showSpatialFilters%22:true,%22showTimesliderToggleButton%22:true,%22spatialFiltersAlpa%22:0.3,%22spatialFiltersFillColor%22:%22%23DA8B45%22,%22spatialFiltersLineColor%22:%22%23DA8B45%22%7D%7D',title:'',uiStateJSON:'%7B%22isLayerTOCOpen%22:true,%22openTOCDetails%22:%5B%5D%7D'),enhancements:(),hiddenLayers:!(),hidePanelTitles:!f,isLayerTOCOpen:!f,mapBuffer:(maxLat:5.61599,maxLon:-73.125,minLat:-5.61599,minLon:-90),mapCenter:(lat:-1.71404,lon:-79.51032,zoom:5.74),openTOCDetails:!()),gridData:(h:19,i:'1a7055b2-3419-4dec-b01c-bfa96ef995fd',w:28,x:10,y:6),panelIndex:'1a7055b2-3419-4dec-b01c-bfa96ef995fd',title:Ecuador,type:map,version:'8.1.0'),(embeddableConfig:(attributes:(references:!((id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-layer-838687be-4fce-4ca3-8a91-e8f61a2548fc,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:('838687be-4fce-4ca3-8a91-e8f61a2548fc':(columnOrder:!('0e7d38f6-3ca7-4231-84c1-6faf3136a359','2aee837b-8575-4866-82da-ff0d3b5bb65a'),columns:('0e7d38f6-3ca7-4231-84c1-6faf3136a359':(dataType:number,isBucketed:!t,label:'Top%20values%20of%20Edad%20Aprox_',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'2aee837b-8575-4866-82da-ff0d3b5bb65a',type:column),orderDirection:desc,otherBucket:!t,parentFormat:(id:terms),size:9),scale:ordinal,sourceField:'Edad%20Aprox_'),'2aee837b-8575-4866-82da-ff0d3b5bb65a':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:___records___)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!('0e7d38f6-3ca7-4231-84c1-6faf3136a359'),layerId:'838687be-4fce-4ca3-8a91-e8f61a2548fc',layerType:data,legendDisplay:default,metric:'2aee837b-8575-4866-82da-ff0d3b5bb65a',nestedLegend:!f,numberDisplay:percent)),shape:donut)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:10,i:e05cfb53-0e6e-4293-a4e4-df14d5f25c30,w:10,x:38,y:6),panelIndex:e05cfb53-0e6e-4293-a4e4-df14d5f25c30,title:'Estado%20actual',type:lens,version:'8.1.0'),(embeddableConfig:(enhancements:(),hidePanelTitles:!f,vis:!n),gridData:(h:9,i:bd15c0b0-ddb6-449f-b1d8-ff7a8b22ebce,w:10,x:0,y:16),id:'012fb870-a982-11ec-84a8-59b77e8cce4e',panelIndex:bd15c0b0-ddb6-449f-b1d8-ff7a8b22ebce,title:Porcentaje,type:visualization,version:'8.1.0'),(embeddableConfig:(attributes:(references:!((id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-layer-838687be-4fce-4ca3-8a91-e8f61a2548fc,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:('838687be-4fce-4ca3-8a91-e8f61a2548fc':(columnOrder:!('957fa260-3117-4534-a38b-90a386633528',e477a370-274b-4b81-994f-4580d44c12e3),columns:('957fa260-3117-4534-a38b-90a386633528':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20Sexo',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:e477a370-274b-4b81-994f-4580d44c12e3,type:column),orderDirection:desc,otherBucket:!t,parentFormat:(id:terms),size:5),scale:ordinal,sourceField:Sexo),e477a370-274b-4b81-994f-4580d44c12e3:(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:___records___)),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((categoryDisplay:default,groups:!('957fa260-3117-4534-a38b-90a386633528'),layerId:'838687be-4fce-4ca3-8a91-e8f61a2548fc',layerType:data,legendDisplay:default,metric:e477a370-274b-4b81-994f-4580d44c12e3,nestedLegend:!f,numberDisplay:percent)),shape:donut)),title:'',type:lens,visualizationType:lnsPie),enhancements:(),hidePanelTitles:!f),gridData:(h:9,i:d0b22259-ba84-4aac-bada-4994b581e532,w:10,x:38,y:16),panelIndex:d0b22259-ba84-4aac-bada-4994b581e532,title:G%C3%A9nero,type:lens,version:'8.1.0'),(embeddableConfig:(attributes:(references:!((id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-layer-60de865a-a9a5-43ae-ab40-4e18b0ebd619,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:('60de865a-a9a5-43ae-ab40-4e18b0ebd619':(columnOrder:!('0a64a644-b335-459e-8f67-384056e8e5bf',d184ef3e-c37c-4db9-b372-f7a58c8be25a,'047c02c8-87e8-401a-bcc9-94bdb6b41024'),columns:('047c02c8-87e8-401a-bcc9-94bdb6b41024':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:___records___),'0a64a644-b335-459e-8f67-384056e8e5bf':(dataType:string,isBucketed:!t,label:'Top%20values%20of%20Provincia',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'047c02c8-87e8-401a-bcc9-94bdb6b41024',type:column),orderDirection:desc,otherBucket:!t,parentFormat:(id:terms),size:7),scale:ordinal,sourceField:Provincia),d184ef3e-c37c-4db9-b372-f7a58c8be25a:(dataType:date,isBucketed:!t,label:'Fecha%20Desaparicion',operationType:date_histogram,params:(interval:'1M'),scale:interval,sourceField:'Fecha%20Desaparicion')),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((accessors:!('047c02c8-87e8-401a-bcc9-94bdb6b41024'),layerId:'60de865a-a9a5-43ae-ab40-4e18b0ebd619',layerType:data,position:top,seriesType:bar_stacked,showGridlines:!f,splitAccessor:'0a64a644-b335-459e-8f67-384056e8e5bf',xAccessor:d184ef3e-c37c-4db9-b372-f7a58c8be25a)),legend:(isVisible:!t,position:right),preferredSeriesType:bar_stacked,title:'Empty%20XY%20chart',valueLabels:hide,yLeftExtent:(mode:full),yRightExtent:(mode:full))),title:'',type:lens,visualizationType:lnsXY),enhancements:(),hidePanelTitles:!f),gridData:(h:15,i:dcb0ad24-5f9e-4985-8ff7-8fa649ecfdce,w:24,x:0,y:25),panelIndex:dcb0ad24-5f9e-4985-8ff7-8fa649ecfdce,title:'Desaparecidos%20por%20mes%20y%20provincia',type:lens,version:'8.1.0'),(embeddableConfig:(attributes:(references:!((id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-current-indexpattern,type:index-pattern),(id:'52a36cc0-a981-11ec-84a8-59b77e8cce4e',name:indexpattern-datasource-layer-87173b7d-acad-492c-88ca-af237ed74ea6,type:index-pattern)),state:(datasourceStates:(indexpattern:(layers:('87173b7d-acad-492c-88ca-af237ed74ea6':(columnOrder:!(df85de0f-aed1-4ff8-89b8-2e196e44ed20,'754d5f19-0a49-43fe-91e4-bc70cd19ba7a','5d10649d-2d1e-480d-a715-8cd9798c252a'),columns:('5d10649d-2d1e-480d-a715-8cd9798c252a':(dataType:number,isBucketed:!f,label:'Count%20of%20records',operationType:count,scale:ratio,sourceField:___records___),'754d5f19-0a49-43fe-91e4-bc70cd19ba7a':(dataType:date,isBucketed:!t,label:'Fecha%20Desaparicion',operationType:date_histogram,params:(interval:'1M'),scale:interval,sourceField:'Fecha%20Desaparicion'),df85de0f-aed1-4ff8-89b8-2e196e44ed20:(dataType:string,isBucketed:!t,label:'Top%20values%20of%20Motivo%20Desaparcion%20Obs_',operationType:terms,params:(missingBucket:!f,orderBy:(columnId:'5d10649d-2d1e-480d-a715-8cd9798c252a',type:column),orderDirection:desc,otherBucket:!t,parentFormat:(id:terms),size:7),scale:ordinal,sourceField:'Motivo%20Desaparcion%20Obs_')),incompleteColumns:())))),filters:!(),query:(language:kuery,query:''),visualization:(layers:!((accessors:!('5d10649d-2d1e-480d-a715-8cd9798c252a'),layerId:'87173b7d-acad-492c-88ca-af237ed74ea6',layerType:data,seriesType:bar_stacked,splitAccessor:df85de0f-aed1-4ff8-89b8-2e196e44ed20,xAccessor:'754d5f19-0a49-43fe-91e4-bc70cd19ba7a')),legend:(isVisible:!t,position:right),preferredSeriesType:bar_stacked,title:'Empty%20XY%20chart',valueLabels:hide,yLeftExtent:(mode:full),yRightExtent:(mode:full))),title:'',type:lens,visualizationType:lnsXY),enhancements:(),hidePanelTitles:!f),gridData:(h:15,i:f60846b4-c9de-4e63-a8f7-74479ac33ec1,w:24,x:24,y:25),panelIndex:f60846b4-c9de-4e63-a8f7-74479ac33ec1,title:'Desaparecidos%20por%20mes%20y%20motivo',type:lens,version:'8.1.0'),(embeddableConfig:(enhancements:(),hidePanelTitles:!f,savedVis:(data:(aggs:!(),searchSource:(filter:!(),query:(language:kuery,query:''))),description:'',id:'',params:(expression:'.es(index%3Ddesaparecidos10,)',interval:'1d'),title:'',type:timelion,uiState:())),gridData:(h:12,i:'1a3621bd-0b7d-4b78-b261-700870d9411a',w:48,x:0,y:40),panelIndex:'1a3621bd-0b7d-4b78-b261-700870d9411a',title:'Desaparecidos%20en%20el%20a%C3%B1o%202021',type:visualization,version:'8.1.0')),query:(language:kuery,query:''),tags:!(),timeRestore:!f,title:dashboardsecurity2,viewMode:view)" height="600" width="800"></iframe>
</main>

<style>
	
	main {
		display: flex;
		justify-content: center;
	}

	.content {
			width: calc(100% - 48px);
			min-height: 360px;
		}
	
		@media (min-width: 480px) {
			.content{
				height: 400px;
			}
		}
	
		@media (min-width: 720px) {
					.content{
						height: 480px;
					}
			}
	
		@media (min-width: 1280px) {
				.content {
					height: 580px;
				}
		}
	
		@media (min-width: 1600px) {
				.content {
					height: 640px;
				}
		}

		@media (min-width: 1920px) {
			.content {
				height: 1000px;
			}
		}
	
		@media (orientation: portrait) {
	
			.content {
				width: calc(100% - 8px);
			}
		
			@media (min-width: 600px){
				.content {
					height: 800px;
				}
			}
	
			@media (min-width: 720px){
					.content {
						height: 1200px;
					}
			}
	
			@media (min-width: 1080px){
				.content {
					height: 1800px;
				}
			}
	
			@media (min-width: 1280px) {
				.content {
					height: 2000px;
				}
			}
	
		}
	
	</style>
	
	
